<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/keccak256@latest/keccak256.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/merkletreejs@latest/merkletree.js"></script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title></title>
  <style>
    .button {
      background-color: #1774ee;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgb(70, 238, 121) ">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">


        <li class="nav-item">
          <a class="nav-link" href="/claim">claim</a>
        </li>
        <li><a class="nav-link" href="/view">View</a></li>
        <li><a class="nav-link" href="/amtto_user">send Amount</a></li>
        </p>

        <br /><br />
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <!-- <a class="nav-link" href="/user">User</a><br /><br /> -->
        </li>
        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;


        <li>



        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <center>
      <!-- <p style="font-size:50px;color:rgb(18, 34, 107)">USER PANEL</p> -->
    </center>

    <br>
    <br>

    <form action="amtto_user" method="POST">

      <input type="text" name="user" placeholder=" address of user" />
      <input type="text" name="cash" placeholder="amount " />
      <input type="submit" value="Pay amount" />
    </form>
    <hr class="new5">





    <script type="text/javascript">
      function getCurrentDate() {
        dateInMillisecs = Date.now();

        // rounding the value to prevent inconsistencies
        // due to floating points
        dateInSecs = Math.round(dateInMillisecs / 1000);
        dateInWords = new Date(dateInMillisecs);
        document.querySelector('.output-msecs').textContent =
          dateInMillisecs;
        document.querySelector('.output-secs').textContent =
          dateInSecs;
        document.querySelector('.output-words').textContent =
          dateInWords;
      }
    </script>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
    <!-- <h3>Result</h3> <span id="spanResult"> </span> -->
    </center>
</body>
<script type="text/javascript">


</script>

</html>